﻿* {
    margin: 0px;
    padding: 0px;
}
body {
    
}
.divContenedor {
    width: 100%;
    height: auto;       
}

.divForm {
    padding:50px;
    width:800px;
    height:auto;   
    margin-top: 20px;  
    float:left;
    background: #337ab7;
}
.div {

    margin: 100px auto;
    width: 800px;
    height: 430px;
    border: 2px solid black;
    border-radius: 5px;    
    text-align: center;
   background-color: rgba(124, 117, 115, 0.8);
   
}


.textBox {
    background-color: #fff;
    margin: 2px 0px;
     width: 220px;
     height: 30px;
     padding: 0px 10px;
     text-align:center;
      border-radius: 4px;
}

.button {
    
    padding: 0px;
    color: white;
    background-color: -moz-linear-gradient(top,  #8b8b8b 0%, #6a6a6a 50%, #5e5e5e 51%, #717171 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8b8b8b), color-stop(50%,#6a6a6a), color-stop(51%,#5e5e5e), color-stop(100%,#717171));
    background: -webkit-linear-gradient(top,  #8b8b8b 0%,#6a6a6a 50%,#5e5e5e 51%,#717171 100%); 
    background: -o-linear-gradient(top,  #8b8b8b 0%,#6a6a6a 50%,#5e5e5e 51%,#717171 100%); 
    background: -ms-linear-gradient(top,  #8b8b8b 0%,#6a6a6a 50%,#5e5e5e 51%,#717171 100%); 
    background: linear-gradient(to bottom,  #8b8b8b 0%,#6a6a6a 50%,#5e5e5e 51%,#717171 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b8b8b', endColorstr='#717171',GradientType=0 );;
    width: 240px;
    margin: 5px auto;
    height: 40px;
    border: solid 1px #232323;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #000;
    

}

.botones {
      margin-top: 3px;          
    width: 220px;
    height: 35px;
    text-align:center;
}


.p {
    margin: 0px auto;
    padding: 0px;     
    height: 50px;
    background-color: transparent;
    width:auto;
    font-weight: normal;
    font-size: 30pt;
   
}
.divMod {

    margin:auto;
    margin-top: 0px;
    width: 800px;
    height: 430px;
    border: 2px solid black;
    border-radius: 5px;    
    text-align: center;
   background-color: rgba(124, 117, 115, 0.8);
   
}

.divTop {
    background-color: transparent;
     margin: 20px auto;
    width: 800px;
    height: 20px;     
    text-align: left;

}