﻿body {
    margin: 0px;
    padding: 0px;
}

.divPrincipal {

    width: 100%;
    height: 65px;
    border: 1px solid black;
    background: -moz-linear-gradient(top,  #8b8b8b 0%, #6a6a6a 50%, #5e5e5e 51%, #717171 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8b8b8b), color-stop(50%,#6a6a6a), color-stop(51%,#5e5e5e), color-stop(100%,#717171));
    background: -webkit-linear-gradient(top,  #8b8b8b 0%,#6a6a6a 50%,#5e5e5e 51%,#717171 100%); 
    background: -o-linear-gradient(top,  #8b8b8b 0%,#6a6a6a 50%,#5e5e5e 51%,#717171 100%); 
    background: -ms-linear-gradient(top,  #8b8b8b 0%,#6a6a6a 50%,#5e5e5e 51%,#717171 100%); 
    background: linear-gradient(to bottom,  #8b8b8b 0%,#6a6a6a 50%,#5e5e5e 51%,#717171 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b8b8b', endColorstr='#717171',GradientType=0 );
    text-align:center;
   
}

.TextBuscaPasajero {  
  
  width: 350px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
   margin-top:15px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  
}

.botones {
      display: inline-block;
  padding: 6px 12px;
  width: 150px;
  height: 34px;
  margin-bottom: 0;
  margin-top:0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;      
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
    .botones:hover {
      /* background: -webkit-linear-gradient(-90deg, rgba(239,7,7,1) 0, rgba(239,7,7,1) 72%, rgba(221,17,17,1) 83%, rgba(201,18,18,1) 96%, rgba(183,1,1,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(239,7,7,1) 0, rgba(239,7,7,1) 72%, rgba(221,17,17,1) 83%, rgba(201,18,18,1) 96%, rgba(183,1,1,1) 100%);
  background: linear-gradient(180deg, rgba(239,7,7,1) 0, rgba(239,7,7,1) 72%, rgba(221,17,17,1) 83%, rgba(201,18,18,1) 96%, rgba(183,1,1,1) 100%);*/
      background-color:#2E2E2E;
  color:white;

    }

.divGridViewPasajeros {
    margin: auto;
    width:100%;
    height:300px;
    border: 1px solid blue;
}

.GridViewPasajeros {
    background-color: gray;
    color: #fff;
    margin: auto;
    border-radius: 3px;

}