﻿* {
    margin: 0px;
    padding: 0px;
}
body {
   background-color: #fff;

}

.labelError {
    color: red;
    font-size: 20px;
    margin-top: 5px;
    padding: 0px;
}

.divGeneral {
    position:absolute;    
    width: 100%;
    height: 80%;
     
}

.divLogin {
    
   position: relative;   
    width: 50%;    
    height: 100%;  
   
    float:left;
    text-align:left;
    

    
}
.divTitulo {
   position: relative;
    width: 49%;   
    height: 60%;
     
    float:left; 
    text-align:center;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px; 
  margin-bottom: 3px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}
.divTxtLogin {
    margin: 30px;
    margin-top: 180px;   
    width: 330px;
    height: 60%;
    
}

.footer {

    float:left;
    width:100%;
    height: 25%;   
      background: #2E2E2E;
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b8b8b', endColorstr='#717171',GradientType=0 );

}

.Titulo {        
    
    margin-top: 20px;
    color:#8b8b8b;
    text-shadow: 2px 2px 2px #000;
    font-size: 105px;
   
}



.btnLogin {
      margin: 4px;          
    width: 220px;
    height: 30px;
    text-align:center;
}
    .btnLogin:hover {
         background: -webkit-linear-gradient(-90deg, rgba(239,7,7,1) 0, rgba(239,7,7,1) 72%, rgba(221,17,17,1) 83%, rgba(201,18,18,1) 96%, rgba(183,1,1,1) 100%);
               background: -moz-linear-gradient(180deg, rgba(239,7,7,1) 0, rgba(239,7,7,1) 72%, rgba(221,17,17,1) 83%, rgba(201,18,18,1) 96%, rgba(183,1,1,1) 100%);
               background: linear-gradient(180deg, rgba(239,7,7,1) 0, rgba(239,7,7,1) 72%, rgba(221,17,17,1) 83%, rgba(201,18,18,1) 96%, rgba(183,1,1,1) 100%);
               color:white;
               border: 1px solid black;
    }

.textBox {
   
    margin: 3px;
    width: 220px;    
    height: 30px;
    text-align:center
        
}
.carusel {
  position: relative;
}
.carusel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carusel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carusel-inner > .item > img,
.carusel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carusel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .carusel-inner > .item.next,
  .carusel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carusel-inner > .item.prev,
  .carusel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carusel-inner > .item.next.left,
  .carusel-inner > .item.prev.right,
  .carusel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.carusel-inner > .active,
.carusel-inner > .next,
.carusel-inner > .prev {
  display: block;
}
.carusel-inner > .active {
  left: 0;
}
.carusel-inner > .next,
.carusel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carusel-inner > .next {
  left: 100%;
}
.carusel-inner > .prev {
  left: -100%;
}
.carusel-inner > .next.left,
.carusel-inner > .prev.right {
  left: 0;
}
.carusel-inner > .active.left {
  left: -100%;
}
.carusel-inner > .active.right {
  left: 100%;
}
.carusel-control {
  position: absolute;
  top: 80%;
  bottom: 0;
  left: 0;
  width:50%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .9;
  height:40%;
}
.carusel-control.left {
  background-repeat: repeat-x;
    /*background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);*/
    background-color: #2E2E2E;
}
.carusel-control.right {
  right: 0;
  left: auto;
    background-repeat: repeat-x;
    /*background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);*/
     background-color: #2E2E2E;
}
.carusel-control:hover,
.carusel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carusel-control .icon-prev,
.carusel-control .icon-next,
.carusel-control .glyphicon-chevron-left,
.carusel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carusel-control .icon-prev,
.carusel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carusel-control .icon-next,
.carusel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carusel-control .icon-prev,
.carusel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carusel-control .icon-prev:before {
  content: '\2039';
}
.carusel-control .icon-next:before {
  content: '\203a';
}
.carusel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carusel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #2E2E2E \9 ;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carusel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carusel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carusel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carusel-control .glyphicon-chevron-left,
  .carusel-control .glyphicon-chevron-right,
  .carusel-control .icon-prev,
  .carusel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .carusel-control .glyphicon-chevron-left,
  .carusel-control .icon-prev {
    margin-left: -15px;
  }
  .carusel-control .glyphicon-chevron-right,
  .carusel-control .icon-next {
    margin-right: -15px;
  }
  .carusel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carusel-indicators {
    bottom: 20px;
  }
}