﻿* {
    margin: 0px;
    padding:0px;
}


body {   
}
.divTabla {
    margin:30px;
}



.accesos {
    margin:auto;
    margin-top: 100px;   
    border: 3px solid gray;
    border-radius: 5px;
    width: 50%;
    height: 420px;
    text-align: center;
   
}

.botonesAccesos {
    margin: 20px;
    width: 200px;
    height: 100px;
    border-radius:5px;
    font-size: 30px;
}
    .botonesAccesos:hover {
               background: -webkit-linear-gradient(-90deg, rgba(239,7,7,1) 0, rgba(239,7,7,1) 72%, rgba(221,17,17,1) 83%, rgba(201,18,18,1) 96%, rgba(183,1,1,1) 100%);
               background: -moz-linear-gradient(180deg, rgba(239,7,7,1) 0, rgba(239,7,7,1) 72%, rgba(221,17,17,1) 83%, rgba(201,18,18,1) 96%, rgba(183,1,1,1) 100%);
               background: linear-gradient(180deg, rgba(239,7,7,1) 0, rgba(239,7,7,1) 72%, rgba(221,17,17,1) 83%, rgba(201,18,18,1) 96%, rgba(183,1,1,1) 100%);
               color:white;
               border: 1px solid black;
    }

.btnLogin {
    width:100%;
    height: 50px;
    border-radius: 4px;
    color:#80a1b7;
    background-color: rgba(211,65,65,1);
    border:none;
}
    .btnLogin:hover {
        background-color: rgba(211,65,65,.5);
    }




