﻿* {
    margin: 0;
    padding: 0;
}
.body {
    background-color:#FFFFFF;
}

ul, ol {
    list-style: none;
}
.divMenuVertical {
    width:350px;
    height:auto;    
    float:left;
}


.welll {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.welll-lg {
  padding: 24px;
 
}
.divisor {
    width: 1px;
    height: 80px;
    border: 1px solid #ddd;
    margin:auto;
}
#header {
    margin: auto;
    margin-top:100px;
    width: 1200px;
    height:auto;
    font-family:Arial;
    float:left;
}

.divGral {
    width: 100%;
    height: auto;
    position: absolute;
}
#divCab {
    margin:0px;
    padding: 0px;
    width: 100%;
    height: 100px;
   
    background-color:#337ab7 /*rgba(0,0,0,.3)*/;
}


/*
.menu {
    width: 85%;
    display:table;
    table-layout: fixed;
    float: left;
}

    .menu li {
        display: table-cell;
        overflow: hidden;
        width: 100%;
        border-right: 1px solid #5c5c5c;
        border-left: 1px solid rgba(255,255,255,.2);
    }
        .menu li:first-child {
            border-left: none;
        }
        .menu li:first-child:hover {
            border-left: none;
        }

        .menu li a {
            color: #fff;
            display: block;
            font-family: 'Times New Roman', Arial, Tahoma;
            font-size: 14px;
            padding: 10px 0;
            text-align: center;
            text-decoration:none;
            text-shadow: 1px 1px 0px rgba(0,0,0,.3)
        }

        .menu li:hover {
            background: rgba(0,0,0,.3);
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
            border-bottom: 0;
        }

        .menu li:active {
            background: rgba(0,0,0,.3);
            box-shadow: inset 0px 3px 2px rgba(0,0,0,1);
        }


/*.footer {
    width:100%;
    height: 100px;    
    border: 1px solid black;
}


.datagrid table { 
    border-collapse: collapse; 
    text-align: left; 
    width: 101%;
} 
.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
     background: #fff; 
     overflow: hidden; 
     border: 1px solid #006699; 
     -webkit-border-radius: 3px; 
     -moz-border-radius: 3px; 
     border-radius: 3px; 
     width:20%;
     height:490px;

}
.datagrid table td, .datagrid table th { 
    padding: 3px 10px;

}
.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color:#006699; 
    color:#FFFFFF; 
    font-size: 17px; 
    font-weight: bold; 
    border-left: 1px solid #0070A8; 

} 
.datagrid table thead th:first-child {
     border: none; 

}
.datagrid table tbody td {
     color: #00557F; 
     border-left: 1px solid #E1EEF4;
     font-size: 13px;
     font-weight: normal; 

}
.datagrid table tbody .alt td { 
    background: #E1EEf4; 
    color: #00557F; 

}.datagrid table tbody td:first-child {
      border-left: none; 

 }
 .datagrid table tbody tr:last-child td {
      border-bottom: none; 

 }
 
 div.dhtmlx_window_active, div.dhx_modal_cover_dv {
      position: fixed !important; 

 }*/
