﻿* {
    margin: 0;
    padding: 0;
}

body {
}

.divUsu {
    margin:20px;
    width:100%;
    height:50px;
    background: white;
}

.divDenegado {
    margin:auto;
    text-align:center;
    width: 100%;
    height: 500px;
}

.LblDenegado {
    font-size: 4em;
    color: red;
    margin:auto;
    margin-top: 200px;
}

.btnAcceso {
    margin-top:50px;
    width: 80px;
    height: 40px;
    border-radius: 4px;
    background-color:transparent;
    color:black;
    float:left;
}
    .btnAcceso:hover {
       
        background-color: lightgray;
    }

.ImgQR {
    height: 50px;
    width: 50px;
}